* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


main {

    background-image: url(../img/cork.png);
  height: 100vh;
}



.title_container {

    padding: 6px 0;
    text-align: center;

    background-image: url(../img/wall.png);

    h1 {
        font-size: 5rem;
        font-family: "Edu TAS Beginner", sans-serif;
    }
}



.pin{
    width: 30px;
    position: absolute;
    position: absolute;
    top: -5px; 
    left: 50%; 
    transform: translateX(-50%);   
   
    
}
.date{
    font-family: "Sometype Mono", sans-serif;
color: darkgray;
}
.photo_title{
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 2rem;
}