* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {}



.title_container {

    padding: 6px 0;
    text-align: center;

    background-image: url(../img/wall.png);

    h1 {
        font-size: 5rem;
        font-family: "Edu TAS Beginner", sans-serif;
    }
}