body {

    background-image: url(../img/cork.png);

}



.title_container {

    padding: 6px 0;
    text-align: center;

    background-image: url(../img/wall.png);

    h1 {
        font-size: 5rem;
        font-family: "Edu TAS Beginner", sans-serif;
    }
}



.pin {
    width: 30px;
    position: absolute;

    top: -5px;
    left: 50%;
    transform: translateX(-50%);


}

.date {
    font-family: "Sometype Mono", sans-serif;
    color: darkgray;
}

.photo_title {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 2rem;
}

.over {
    position: relative;

    .card_pop {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.678);
        z-index: 10;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 20px;
        text-align: center;


        .button_style {
            justify-content: center;
            margin-bottom: 30px;
            padding: 2px 15px;
            font-size: 1.1rem;
        }

        .card {
            max-width: 600px;
            margin: 0 auto;
        }



        img {
            width: 100%;
        }


    }

    .card_selector:hover {
        transition: all 0.3s;
        transform: scale(1.1) rotate(4deg);
        z-index: 10;

    }
}